USE [7200]
GO
/****** Object:  StoredProcedure [dbo].[Acx_getUserCredentials]    Script Date: 7/23/2019 10:10:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Acx_getUserCredentials]
@USER_CODE NVARCHAR(20),
@USER_PASSWORD NVARCHAR(20)
AS
BEGIN
	-- SET NOCOUNT ON ADDED TO PREVENT EXTRA RESULT SETS FROM
	-- INTERFERING WITH SELECT STATEMENTS.
	SET NOCOUNT ON;
	SELECT USER_CODE,USER_NAME,USER_PASSWORD,USER_TYPE,SITE_CODE,GSTINNO,
	GSTREGISTRATIONDATE,ISNULL(COMPOSITIONSCHEME,0) AS COMPOSITIONSCHEME, ISNULL(SM.NAME,'') AS NAME,
	SM.ACXADDRESS1 + SM.ACXADDRESS2 + ',' + SM.ACXCITY AS SITEADDRESS,
	ISNULL(LS.STATECODE_IT,'') AS STATE,ISNULL(LS.STATECODE_GST,'') AS STATECODE,ISNULL(LS.UNIONTERRITORY,0) AS UNIONTERRITORY
	,ISNULL(LS.STATEID,'') AS SCHSTATE
	FROM [AX].[ACXUSERMASTER] A 
	LEFT JOIN AX.INVENTSITE SM ON A.SITE_CODE = SM.SITEID
	LEFT JOIN AX.[LOGISTICSADDRESSSTATE] LS ON LS.STATEID = A.STATE
	WHERE USER_CODE=@USER_CODE AND  USER_PASSWORD = @USER_PASSWORD 
END
